#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  width: 75%;
}

body {
  background-image: url(../img/6613c3db2f0f13b1ded74d523faa2471.jpg);
}

#select_id,
input,
button {
  width: 230px;
  font-size: 22px;
}

h1,
h2,
#select_id,
input,
button {
  font-family: "Gill Sans";
}

h1,
h2 {
  color: white;
}

#select_id,
button {
  height: 40px;
}

input {
  height: 36px;
}

.inner_2 {
  margin-top: 20px;
}

#select_id:hover,
input:hover {
  border-color: rgb(76, 135, 177);
}

button {
  background-color: rgba(97, 149, 187, 0.83);
  border-radius: 2px;
  border-color: transparent;
}

button:hover {
  border-color: rgb(62, 76, 94);
}

#err {
  color: rgb(204, 63, 63);
}

.loader_wrapper {
  width: 50%;
  height: 50%;
  margin-top: 30px;
  position: relative;
  z-index: 50;
  transition: 0.6s;
  display: none;
  justify-content: center;
}

.loader {
  width: 50px;
  height: 50px;
  border: 12px solid rgb(111, 127, 137);
  border-radius: 50%;
  border-left-color: rgb(76, 122, 163);
  animation: loader 1.3s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  display: none;
}

.active {
  display: flex;
}
